.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
}
.footer-top{
    display: grid;
    place-content: center;
    gap: 30px;
}
.footer-top h2{
    font-size: 40px;
    text-align: center;
}
.footer-top p{
    font-size: 18px;
    text-align: center;
}
.footer-top .input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input input{
    flex-grow: 1;
    padding: 15px;
    border: 2px solid #8F0B0B;
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 14px;
}
.input button{
    background-color: #8F0B0B;
    color: white;
    border: none;
    padding: 17px 20px;
    border-radius: 0 20px 20px 0;
    font-weight: bold;
    cursor: pointer;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-left h2 {
    color: #FFDF00;
}
.footer-left h2.highlight {
    color: #8F0B0B;
    font-weight: bold;
}
.socials{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.socials .social-icon{
    font-size: 20px;
}
.footer-right ul{
    display: flex;
    gap: 15px;
}
.footer-right ul li{
    font-size: 18px;
    list-style-type: none;
}
.facebook-social-icon{
    color: blue;
}
.instagram-social-icon{
    color: #d62976;
}
.youtube-social-icon{
    color: red;
}
