.admin-panel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f9f9f9;
}
.admin-panel-box{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px 32px;
    max-width: 500px;
    width: 100%;
}
.login-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
}
.form-group{
    margin-bottom: 16px;
}
.form-label{
    font-size: 0.875rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
}
.form-input{
    width: 95%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.8rem;
    outline: none;
    transition: border-color 0.2s;
}
.form-input:focus{
    border-color: #333;
}
.form-button{
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #550000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-button:hover{
    background-color: #8F0B0B;
}